@model IEnumerable<Models.EF.Comment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lý bình luận</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="~/Admin/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <p>
                    @Html.ActionLink("Thêm bình luận mới", "Create")
                </p>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Comment ID</th>
                            <th>Bình luận tại bài viết</th>
                            <th>Người bình luận</th>
                            <th>Nội dung bình luận</th>
                            <th>Manage</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Comment ID</th>
                            <th>Bình luận tại bài viết</th>
                            <th>Người bình luận</th>
                            <th>Nội dung bình luận</th>
                            <th>Manage</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CommentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Post.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ccontent)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.CommentId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.CommentId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.CommentId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>